header {
  width: 100%;
  height: 5rem;
  background-color: rgb(2, 182, 253);
  font-size: 5rem;
  text-align: center;
  border: 0.5rem solid black;
}

section {
  display: flex;
  justify-content: center;
}
.left {
  height: 30rem;
  width: 20rem;
  background-color: rgb(140, 0, 255);
  border: 0.5rem solid black;
}

.left strong {
  align-content: center;
}
.mid {
  height: 30rem;
  width: 50rem;
  background-color: rgb(166, 119, 180);
  text-align: center;
  border: 0.5rem solid black;
}

.mid strong {
  font-size: 3rem;
  text-align: center;
}

.mid p {
  font-size: 1rem;
  text-align: center;
}

.right {
  height: 30rem;
  width: 20rem;
  background-color: rgb(140, 0, 255);
  border: 0.5rem solid black;
}

.right strong {
  font-size: 5rem;
}

footer {
  width: 100%;
  height: 5rem;
  font-size: 5rem;
  text-align: center;
  background-color: rgb(2, 182, 253);
  border: 0.5rem solid black;
}
